<div class="container">
  <div class="row">
    <div class="d-flex">
      <% unless logged_in? %>
        <div class="row me-3">
          <%= link_to t(".to_register_page"), new_user_path %>
        </div>
        <div class="row">
          <%= link_to t(".to_login_page"), login_path %>
        </div>
      <% end %>
    </div>
  </div>

  <%# ----------------------------ロゴの行----------------------------- %>
  <div class="d-flex justify-content-around mt-3">

    <div class="d-none d-xl-block">
      <div class="mb-3">
        <% if @recommendations[1].present? %>
          <%= render "post_image", posts: @recommendations, number: 0 %>
        <% end %>
      </div>

      <div>
        <% if @recommendations[1].present? %>
          <%= render "post_image", posts: @recommendations, number: 0 %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <%= image_tag "main-600.png" %>
    </div>

    <div class="d-none d-xl-block">
      <%= render "post_image", posts: @recommendations, number: 1 %>
    </div>

  </div>

  <%# ---------------------------アプリ説明の行------------------------------ %>

  <div class="d-flex justify-content-around mt-3">

    <div class="row">
      <% if @recommendations[3].present? %>
        <%= render "post_image", posts: @recommendations, number: 2 %>
      <% end %>
    </div>

    <div class="row bg-info w-50 mt-5" style="height: 90px;">
      <div class="d-flex align-items-center">
        <p>このアプリは簡単操作で自分の知らないご当地グルメ、郷土料理発見を目的とするアプリです。
        </p>
      </div>
    </div>

    <div class="row">
      <%= render "post_image", posts: @recommendations, number: 3 %>
    </div>
  </div>

  <%# ----------------------------診断のボタンの行----------------------------- %>

  <div class="d-flex justify-content-around mt-3">

    <div class="row">
      <% if @recommendations[5].present? %>
        <%= render "post_image", posts: @recommendations, number: 4 %>
      <% end %>
    </div>

    <div class="w-50 mt-5">
        <%= link_to t(".diagnosis_start"), tags_path, class: 'd-flex align-items-center justify-content-center bg-danger display-6', style: 'height: 80px; text-decoration: none; color: white;' %>
    </div>

    <div class="row">
      <%= render "post_image", posts: @recommendations, number: 5 %>
    </div>
  </div>

  <%# ----------------------------アプリ基本機能説明の行----------------------------- %>
  <hr class="my-4 mt-5">
  <%# -----HTMLの水平線を描画するタグ----- %>

  <div class="d-flex justify-content-center">
    <h3>本アプリでは以下のような機能が使用できます。</h3>
  </div>

  <div class="d-flex justify-content-evenly mt-3">
    <div class="row bg-primary-subtle w-25">
      <div class="mt-2">
        <h4>当方は、お客様から以下の情報を取得します</h4>
      </div>
      <div>
        <p>当方が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。
        </p>
      </div>
    </div>

    <div class="row bg-primary-subtle w-25">
     <div class="mt-2">
      <h4>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</h4>
      </div>
      <div>
        <p>当方は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。
        </p>
      </div>
    </div>

    <div class="row bg-primary-subtle w-25">
      <div class="mt-2">
        <h4>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は</h4>
      </div>
      <div>
        <p>当方は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。
        </p>
      </div>
    </div>
  </div>

  <%# ----------------------------ログイン後の機能説明の行----------------------------- %>

  <div class="d-flex justify-content-center mt-5">
    <h3>本アプリでは以下のような機能が使用できます。</h3>
  </div>

  <div class="d-flex justify-content-evenly mt-3">
    <div class="row bg-primary-subtle w-25">
      <div class="mt-2">
        <h4>当方は、お客様から以下の情報を取得します</h4>
      </div>
      <div>
        <p>当方が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。
        </p>
      </div>
    </div>

    <div class="row bg-primary-subtle w-25">
     <div class="mt-2">
      <h4>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</h4>
      </div>
      <div>
        <p>当方は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。
        </p>
      </div>
    </div>

    <div class="row bg-primary-subtle w-25">
      <div class="mt-2">
        <h4>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は</h4>
      </div>
      <div>
        <p>当方は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。
        </p>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-evenly mt-3">
    <div class="row bg-primary-subtle w-25">
      <div class="mt-2">
        <h4>当方は、お客様から以下の情報を取得します</h4>
      </div>
      <div>
        <p>当方が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。
        </p>
      </div>
    </div>

    <div class="row bg-primary-subtle w-25">
     <div class="mt-2">
      <h4>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</h4>
      </div>
      <div>
        <p>当方は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。
        </p>
      </div>
    </div>

    <div class="row bg-primary-subtle w-25">
      <div class="mt-2">
        <h4>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は</h4>
      </div>
      <div>
        <p>当方は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。
        </p>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <div class="w-50">
      <%= link_to t(".diagnosis_start"), tags_path, class: 'd-flex align-items-center justify-content-center bg-danger display-6', style: 'height: 80px; text-decoration: none; color: white;' %>
    </div>
  </div>

</div>