<div class="container">
  <div class="row">
    <div class="d-flex">
      <% unless logged_in? %>
        <div class="row me-3">
          <%= link_to t(".to_register_page"), new_user_path %>
        </div>
        <div class="row">
          <%= link_to t(".to_login_page"), login_path %>
        </div>
      <% end %>
    </div>
  </div>

  <%# ----------------------------ロゴの行----------------------------- %>
  <div class="d-flex justify-content-around mt-3">

    <div class="row">
      <% if @recommendations[1].present? %>
        <%= render "post_image", posts: @recommendations, number: 0 %>
      <% end %>
    </div>

    <div class="row">
      <%= image_tag "main-600.png" %>
    </div>

    <div class="row">
      <%= render "post_image", posts: @recommendations, number: 1 %>
    </div>

  </div>

  <%# ---------------------------アプリ説明の行------------------------------ %>

  <div class="d-flex justify-content-around mt-3">

    <div class="row">
      <% if @recommendations[3].present? %>
        <%= render "post_image", posts: @recommendations, number: 2 %>
      <% end %>
    </div>

    <div class="row bg-info w-50 mt-5" style="height: 90px;">
      <div class="d-flex align-items-center">
        <%= t(".app_description") %>
      </div>
    </div>

    <div class="row">
      <%= render "post_image", posts: @recommendations, number: 3 %>
    </div>
  </div>

  <%# ----------------------------診断のボタンの行----------------------------- %>

  <div class="d-flex justify-content-around mt-3">

    <div class="row">
      <% if @recommendations[5].present? %>
        <%= render "post_image", posts: @recommendations, number: 4 %>
      <% end %>
    </div>

    <div class="row mt-5">
        <%= link_to t(".diagnosis_start"), tags_path, class: 'd-flex align-items-center justify-content-center bg-danger display-6', style: 'height: 80px; text-decoration: none; color: white;' %>
    </div>

    <div class="row">
      <%= render "post_image", posts: @recommendations, number: 5 %>
    </div>
  </div>

  <%# ----------------------------アプリの使用説明の行----------------------------- %>
  
  <div class="d-flex justify-content-around mt-3">

    <div class="row">
      <% if @recommendations[7].present? %>
        <%= render "post_image", posts: @recommendations, number: 6 %>
      <% end %>
    </div>

    <div class="row mt-5 bg-info" style="height: 150px;">
      <%= t(".operation_explanation") %><br>
      <%= t(".operation_explanation_first") %><br>
      <%= t(".operation_explanation_second") %><br>
      <%= t(".operation_explanation_third") %><br>
      <%= t(".operation_explanation_fourth") %><br>
      <%= t(".operation_explanation_fifth") %>
    </div>

    <div class="row">
      <%= render "post_image", posts: @recommendations, number: 7 %>
    </div>
  </div>


</div>







<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="bg-info w-75" style="height: 400px;">
      紹介絵
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row justify-content-center">
  <%= link_to t(".diagnosis_start"), tags_path, class: 'd-flex align-items-center justify-content-center w-25 bg-danger text-center display-6', style: 'height: 80px; text-decoration: none; color: white;' %>
  </div>
</div>