<div class="row mt-3 p-2 bg-light" id="comment-<%= comment.id %>">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-row">
      <div>
        <p><%= t("posts.show.whose_comment", user_name: comment.user.name) %></p>
      </div>

      <% if logged_in? && current_user.own?(comment) %>
        <div class="ms-2">
          <%= link_to edit_comment_path(comment) do %>
            <i class="bi bi-pencil"></i>
          <% end %>
        </div>

        <div class="ms-2">
          <%= link_to comment_path(comment), data: { turbo_method: :delete, turbo_confirm: t("helpers.dialog.comment_delete_confirm") } do %>
            <i class="bi bi-basket"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <p><%= comment.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
  </div>
  <p><%= comment.body %></p>
</div>