
  <p><%= comment.body %></p>



  <table class="table">
  <tbody id="table-comment">
    <% @post_comments.each do |comment| %>
      <tr id="comment-<%= comment.id %>">

        <td>
            <p><%= simple_format(comment.body) %></p>
        </td>

        <td>
            
            <%= turbo_frame_tag 'edit' do %>
              <%= link_to "編集", edit_comment_path(comment) %>
            <% end %>

            <%= link_to "削除", comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "@本当に削除しますか？" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
