<%= turbo_stream.prepend "cometest" do %>
  <div id="comment-<%= @comment.id %>">
    <p><%= @comment.body %></p>
    <%= link_to "編集", edit_comment_path(@comment) %>
    <%= link_to "削除", comment_path(@comment), data: { turbo_method: :delete, turbo_confirm: "@本当に削除しますか？" } %>
  </div>
<% end %>


<%= turbo_stream.replace "comment-form" do %>
  <%= render 'comments/form', comment: Comment.new, post: @comment.post %>
<% end %>

<%# Prependアクションで「table-comment」のidを持つ要素の内部の最初に下記を追加 %>

<%# replaceアクションで「comment-form」のidを持つ要素と下記を入れ替える %>