<% if @comment.errors.present? %>
  <%= turbo_stream.replace "comment-#{@comment.id}" do %>
    <div id="comment-<%= @comment.id %>">
      <%= form_with(model: @comment, url: comment_path(@comment), method: :patch) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control mb-3" %>
        <%= f.submit nil, class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= turbo_stream.replace "comment-#{@comment.id}" do %>
    <div id="comment-<%= @comment.id %>">
      <p><%= @comment.body %></p>
      <%= link_to "編集", edit_comment_path(@comment) %>
      <%= link_to "削除", comment_path(@comment), data: { turbo_method: :delete, turbo_confirm: "@本当に削除しますか？" } %>
    </div>
  <% end %>
<% end %>