<% content_for(:title, t(".page_title")) %>
<% breadcrumb :view_history_index, @user %>

<div class="container">
<div class="row">
  <% if @view_history_posts.present? %>
    <h3><%= t(".view_histories") %></h3>
    <%= link_to t(".view_histories_delete"), all_view_history_delete_view_histories_path, data: { turbo_method: :delete, turbo_confirm: t("helpers.dialog.delete_confirm") } %>

    <% @view_history_posts.each do |post| %>
      <%= render "post_image", post: post %>
    <% end %>

    <%= paginate @view_history_posts, theme: "bootstrap-5" %>
  <% else %>
    <h3><%= t(".no_view_histories") %></h3>
  <% end %>
</div>
</div>