<% content_for(:title, t(".page_title")) %>
<% breadcrumb :like_index, @user %>


<div class="container">
<div class="row">

<%# -------------------本人&来訪者用------------------- %>
<% if @user == current_user || @user.is_public %>
  <% if @user_like_posts.present? %>
    <h3><%= t(".liked_posts")%></h3>
    <% @user_like_posts.each do |post| %>
      <%= render "post_image", post: post %>
    <% end %>
    <%= paginate @user_like_posts, theme: "bootstrap-5" %>
  <% else %>
    <h3><%= t(".no_liked_posts") %></h3>
  <% end %>

<% else %>
  <h3><%= t(".closed_to_public") %></h3>
<% end %>


</div>
</div>