<% content_for(:title, "@アカウント情報") %>
<% breadcrumb :user_edit, @user %>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>@<%= @user.name %>さんのアカウント情報（editページ）</h1>
      <%= form_with model: @user do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="mb-3">
          <%= f.label :name, "@名前", class: "form-label" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, "@パスワードを変更", class: "form-label" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, "@パスワード再確認", class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :introduction, "@自己紹介", class: "form-label" %>
          <%= f.text_field :introduction, class: "form-control" %>
        </div>

        <div class="row mb-3">
        <%= f.label :avatar, "＠アバター" %>
        <%= f.file_field :avatar %>
        </div>

        <div class="mb-3">
          <%= f.label :@公開設定 %>
        </div>

        <div class="mb-3 d-flex">
          <%= f.radio_button :is_public, true, id: "is_public_true" %>
          <label for="is_public_true" class="me-3">@許可</label>
          <%= f.radio_button :is_public, false, id: "is_public_false" %>
          <label for="is_public_false" class="me-3">@不許可</label>
        </div>

        <%= f.submit "@変更", class: "btn btn-primary" %>

      <% end %>

      <div class='text-center'>
        <%= link_to '@トップ', root_path %>
      </div>
    </div>
  </div>
</div>