<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>@ユーザー登録</h1>
      <%= form_with model: @user do |f| %>

        <div class="mb-3">
          <%= f.label :name, "@名前(必須)", class: "form-label" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, "@パスワード(必須)", class: "form-label" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, "@パスワード再確認(必須)", class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        
        <div class="mb-3">
          <%= f.label :@公開設定（必須） %>
        </div>

        <div class="mb-3">
          <%= f.radio_button :is_public, true %> @許可
          <%= f.radio_button :is_public, false %> @不許可
        </div>

        <div class="mb-3">
          <%= f.label :agree_terms, "＠利用規約に同意しますか？(必須)" %>
          <%= f.check_box :agree_terms %>
        </div>

        <div class="mb-3">
          <%= link_to "@利用規約", "#" %>
          <%= link_to "@プライバシーポリシー", "#" %>
        </div>

        <%= f.submit "@登録", class: "btn btn-primary" %>

      <% end %>

      <div class='text-center'>
        <%= link_to '@ログインページへ', login_path %>
        <%= link_to '@トップ', root_path %>
      </div>
    </div>
  </div>
</div>