<% content_for(:title, t(".page_title")) %>
<% breadcrumb :user_show, @user %>


<div class="container">
<div class="row">
  <h1><%= t(".my_page_with_name", name: @user.name) %></h1>

  <div class="mt-2">
    <%= @user.is_public ? t(".your_my_page_now_open", name: @user.name) : t(".your_my_page_now_closed", name: @user.name) %>
  </div>

  <div class="mt-2">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar.variant(resize_to_fit: [200, 200]) %>
      <%= button_to '@@@画像を削除（仮）', destroy_avatar_user_path(@user), method: :delete %>
    <% else %>
      <%= t(".avatar_not_registered") %>
      <%# -------補足: avatar_not_registered アバターは登録されてません--------- %>
    <% end %>
  </div>

  <% if @user.is_public || @user == current_user %>
    <div class="mt-2">
      <%= t(".introduction", introduction: @user.introduction) %>
    </div>

    <div class="mt-2">
      <%= link_to "@プレイリスト(項目破棄予定)", user_playlists_path(@user) %>
    </div>

    <div class="mt-2">
      <%= link_to t(".to_posts_list"), user_posts_path(@user) %>
    </div>

    <div class="mt-2">
      <%= link_to t(".to_likes_list"), user_likes_path(@user) %>
    </div>
  <% end %>


  <% if @user == current_user %>
    <div class="mt-2">
      <%= link_to t(".to_view_histories"), view_histories_path %>
    </div>
  <% end %>

</div>
</div>