<div class="container">
<div class="row">
<h1>@<%= @user.name %>さんのマイページ</h1>

<div class="mt-2">
<%= @user.is_public ? "@#{@user.name}さんのマイページは現在公開中です" : "@#{@user.name}さんのマイページは現在非公開です" %>
</div>

<div class="mt-2">
<%= "@自己紹介 :#{@user.introduction}" %>
</div>

<div class="mt-2">
<%= link_to "@プレイリスト", "#" %>
</div>

<div class="mt-2">
<%= link_to "@投稿一覧", posts_path %>
</div>

<div class="mt-2">
<%= link_to "@閲覧履歴", "#" %>
</div>

<div class="mt-2">
<%= link_to "@トップページへ", root_path %>
</div>
</div>
</div>