<%# ------------------------画面サイズ大----------------------- %>

<div class="container bg-info d-none d-lg-block">
  <div class="row py-2">
    <div class="col-4">
      <%= link_to root_path, class: "btn btn-light" do %>
        <div class="d-flex align-items-center">
          <%= image_tag "logo-40.png" %>
          <p><%= t(".app_title") %></p>
        </div>
      <% end %>
    </div>

    <div class="col-1"></div>

    <div class="col-4">
      <%= render "shared/search_form" %>
    </div>

    <div class="col-1"><%= t(".login_now") %></div>

    <div class="col-1">
      <% if current_user.avatar.attached? && @select_new_avatar != "1" %>
        <a href="<%= user_path(current_user) %>">
          <%= image_tag current_user.decorated.resized_avatar_small %>
        </a>
      <% end %>
    </div>

    <div class="col-1">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= link_to t(".posted_in"), new_post_path, class: 'dropdown-item' %></li>
          <li><%= link_to t(".my_page"), user_path(current_user), class: 'dropdown-item' %></li>
          <li><%= link_to t(".your_account_information"), edit_user_path(current_user), class: 'dropdown-item' %></li>
          <li><%= link_to t(".logout"), logout_path, data: { turbo_method: :delete }, class: 'dropdown-item' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%# ------------------------画面サイズ大----------------------- %>

<%# ------------------------画面サイズ小----------------------- %>

<div class="container bg-info d-lg-none">
  <div class="row py-2">
    <div class="col-7">
      <%= link_to root_path, class: "btn btn-light" do %>
        <div class="d-flex align-items-center">
          <%= image_tag "logo-30.png" %>
          <p><%= t(".app_title") %></p>
        </div>
      <% end %>
    </div>

    <div class="col-4">
      <%= render "shared/search_form" %>
    </div>

    <div class="col-1">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= link_to t(".posted_in"), new_post_path, class: 'dropdown-item' %></li>
          <li><%= link_to t(".my_page"), user_path(current_user), class: 'dropdown-item' %></li>
          <li><%= link_to t(".your_account_information"), edit_user_path(current_user), class: 'dropdown-item' %></li>
          <li><%= link_to t(".logout"), logout_path, data: { turbo_method: :delete }, class: 'dropdown-item' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%# ------------------------画面サイズ小----------------------- %>