<div class="container bg-info">
  <div class="py-2">
    <div class="row">
      <div class="col-2 bg-primary my-3">
        <%= link_to t(".app_title"), root_path, class: 'text-dark' %>
      </div>
      <div class="col-3"><%= t(".login_now") %></div>
      <div class="col-4">
        <form class="d-flex">
          <input class="form-control me-2 my-3" type="search" placeholder="あいまい検索用（未実装）" aria-label="Search">
          <button class="btn btn-outline-success py-2" type="submit">@検索</button>
        </form>
      </div>
      <div class="col-1"></div>
      <div class="col-1">
      <% if current_user.avatar.attached? %>
        <a href="<%= user_path(current_user) %>">
          アバター
          <%# image_tag current_user.avatar.variant(resize_to_fit: [55, 55]) %>
        </a>
      <% end %>
      </div>
      <div class="col-1">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><%= link_to t(".posted_in"), new_post_path, class: 'dropdown-item' %></li>
            <li><%= link_to t(".my_page"), user_path(current_user), class: 'dropdown-item' %></li>
            <li><%= link_to t(".your_account_information"), edit_user_path(current_user), class: 'dropdown-item' %></li>
            <li><%= link_to t(".logout"), logout_path, data: { turbo_method: :delete }, class: 'dropdown-item' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>