<div class="container min-vh-100 bg-danger-subtle">
  <div class="row">
    <h2><%= t(".page_title") %></h2>
    <h4>
      <%= t(".now_admin") %>
      <% @admin_users.each do |admin_user| %>
        <%= admin_user.name %>
      <% end %>
    </h4>

    <div class="mt-2">
      <%= link_to t("helpers.link.user_index"), admin_users_path %>
    </div>

    <div class="mt-2">
      <%= link_to t("helpers.link.post_index"), admin_posts_path %>
    </div>
  </div>
</div>
