<%= turbo_frame_tag "#{tag_type}_turbo_stream" do %>
  <div class="row bg-info mb-3">
    <% tags.each_with_index do |tag, index| %>
      <div class="form-check form-check-inline col-3">
        <input class="form-check-input" type="checkbox" name="<%= tag_type %>[]" id="<%= tag_type %>_box_<%= index %>" value="<%= tag.name %>">
        <label class="form-check-label" for="<%= tag_type %>_box_<%= index %>">
          <%= tag.name %> (<%= tag.count %>)
        </label>
      </div>
    <% end %>

    <%# ---------解説 tag_type _box_ index: タグ名を選択時、該当するチェックボックスにマークをいれるのに必要。先頭にtag_typeを入れないとタグ名を選択時、関係ないチェックボックスにマークが入ってしまうことがある。----------------------- %>

    
    <%= turbo_frame_tag "replace_#{tag_type}" do %>
      <div class="d-flex justify-content-center">
        <%= link_to send("replace_#{tag_type}_tags_path") do %>
          <i class="bi bi-caret-down"></i>
          <%# --------下向き三角マーク-------- %>
        <% end %>
      </div>
    <% end %>


    <%# -------------  sendメソッドを使うことで、動的にパスを呼び出せる。sendメソッド使わないとエラーが出る  ------------- %>
    
  </div>
<% end %>