<%= form_with model: post do |f| %>

  <%= render 'shared/error_messages', object: f.object %>


  <div class="mt-3">
    <%= f.label :title, t("posts.post_info.title") %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mt-3">
    <h4><%= t("posts.post_info.image_setting_info") %></h3>
  </div>

  <%# ーーーーーーーメイン画像選択でプレビューの表示のStimulus設定有りーーーーーーーーー %>

  <div class="row" data-controller="preview">
    <div class="mt-3">
      <%= f.label :main_image, t("posts.post_info.main_image") %>
    </div>
    <div class="mt-1">
      <%= f.file_field :main_image, data: { "preview-target": "input", action: "change->preview#previewImage"} %>
    </div>
    <%# ーーー"change->xxxxx"のchangeは、ファイル選択の入力フィールドでユーザーがファイルを選択したときに発火するイベントーー %>
    <%#  ーーーーー今回はchangeイベントが発火すると「preview_controller.js」の「previewImage」のメソッドが呼び出されるーーーー%>

    <div class="mt-2">
      <div data-preview-target="existing">
        <% if post.persisted? && post.main_image.attached? && @select_new_main_image != "1" %>
          <div class="mt-1">
            <%= t("posts.post_info.selected_main_image") %>
          </div>
          <div class="mt-1">
            <%= image_tag post.main_image.variant(resize_and_pad: [200, 200]) %>
          </div>
        <% end %>
        <%# ----persisted?はpostオブジェクトがデータベースに保存されているかどうかを確認するメソッド。システムスペック時、「画像添付→編集失敗」でrenderで戻るとき「xxx.attached?」がtrueになってエラーになるのを防ぐ---- %>
        <%# ----記事編集時、画像を選択してから編集失敗した場合のエラーを防ぐため、変数で編集失敗した場合かを識別---- %>

        <% if @select_new_main_image == "1" %>
          <div class="py-2 ps-2 bg-danger-subtle">
            <%= t("posts.post_info.please_select_image_again") %>
          </div>
        <% end %>
      </div>

      <div data-preview-target="preview">
      </div>
    </div>
  </div>

  <%# ーーーーーーーーーーーーーーーーーーーー %>

  <%# ーーーーーーーサブ画像1選択でプレビューの表示のStimulus設定有りーーーーーーーーー %>

  <div class="row" data-controller="preview">
    <div class="mt-2">
      <%= f.label :sub_image_first, t("posts.post_info.sub_image_first") %>
    </div>
    <div class="mt-1">
      <%= f.file_field :sub_image_first, data: { "preview-target": "input", action: "change->preview#previewImage"} %>
    </div>

    <div class="mt-2">
      <div data-preview-target="existing">
        <% if post.persisted? && post.sub_image_first.attached? && @select_new_sub_image_first != "1" %>
          <div class="mt-1">
            <%= t("posts.post_info.selected_sub_image_first") %>
          </div>
          <div class="mt-1">
            <%= image_tag post.sub_image_first.variant(resize_and_pad: [200, 200]) %>
          </div>
        <% end %>

        <% if @select_new_sub_image_first == "1" %>
          <div class="py-2 ps-2 bg-danger-subtle">
            <%= t("posts.post_info.please_select_image_again") %>
          </div>
        <% end %>
      </div>

      <div data-preview-target="preview">
      </div>
    </div>
  </div>

  <%# ーーーーーーーーーーーーーーーーーーーーー %>

  <%# ーーーーーーーサブ画像2選択でプレビューの表示のStimulus設定有りーーーーーーーーー %>

  <div class="row" data-controller="preview">
    <div class="mt-2">
      <%= f.label :sub_image_second, t("posts.post_info.sub_image_second") %>
    </div>
    <div class="mt-1">
      <%= f.file_field :sub_image_second, data: { "preview-target": "input", action: "change->preview#previewImage"} %>
    </div>

    <div class="mt-2">
      <div data-preview-target="existing">
        <% if post.persisted? && post.sub_image_second.attached? && @select_new_sub_image_second != "1" %>
          <div class="mt-1">
            <%= t("posts.post_info.selected_sub_image_second") %>
          </div>
          <div class="mt-1">
            <%= image_tag post.sub_image_second.variant(resize_and_pad: [200, 200]) %>
          </div>
        <% end %>

        <% if @select_new_sub_image_second == "1" %>
          <div class="py-2 ps-2 bg-danger-subtle">
            <%= t("posts.post_info.please_select_image_again") %>
          </div>
        <% end %>
      </div>

      <div data-preview-target="preview">
      </div>
    </div>
  </div>

  <%# ーーーーーーーーーーーーーーーーーーーーー %>

  <div class="mt-3">
    <%= f.label :source, t("posts.post_info.source") %>
    <%= f.text_field :source, class: "form-control" %>
  </div>

  <div class="mt-3">
    <%= f.label :source_url, t("posts.post_info.source_url") %>
    <%= f.text_field :source_url, class: "form-control" %>
  </div>

  <div class="mt-3">
    <%= f.label :store, t("posts.post_info.store") %>
    <%= f.text_field :store, class: "form-control" %>
  </div>

  <div class="mt-3">
    <%= f.label :store_url, t("posts.post_info.store_url") %>
    <%= f.text_field :store_url, class: "form-control" %>
  </div>

  <%= f.fields_for :dish do |dish_f| %>
    <div class="mt-3">
      <%= dish_f.label :description, t("posts.post_info.description") %>
      <%= dish_f.text_area :description, class: "form-control" , rows: 13 %>
    </div>
  <% end %>

  <div class="mt-3">
    <h4><%= t("posts.post_info.tag_setting_info") %></h3>
  </div>

  <div class="mt-3">
    <%= label_tag :area_tag_name, t("posts.post_info.area_tag_setting") %>
    <%= text_field_tag 'post[post_area_tags_attributes][0][area_tag_attributes][name]', @area_tag_name, class: "form-control" %>
  </div>

  <div class="mt-3">
    <%= label_tag :genre_tag_name, t("posts.post_info.genre_tag_setting") %>
    <%= text_field_tag 'post[post_genre_tags_attributes][0][genre_tag_attributes][name]', @genre_tag_name, class: "form-control" %>
  </div>

  <div class="mt-3">
    <%= label_tag :taste_tag_name, t("posts.post_info.taste_tag_setting") %>
    <%= text_field_tag 'post[post_taste_tags_attributes][0][taste_tag_attributes][name]', @taste_tag_name, class: "form-control" %>
  </div>

  <div class="mt-3">
    <%= label_tag :outher_tag_name, t("posts.post_info.outher_tag_setting") %>
    <%= text_field_tag 'post[post_outher_tags_attributes][0][outher_tag_attributes][name]', @outher_tag_name, class: "form-control" %>
  </div>

  <div class="mt-3">
    <%= f.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>