<%= form_with model: post do |f| %>

<%= render 'shared/error_messages', object: f.object %>


<%= f.label :title, "＠料理名（必須）" %>
<%= f.text_field :title, class: "form-control" %>

<div class="row">
<%= f.label :images, "＠メイン画像（必須）" %>
<%= f.file_field :images %>
</div>

<%= f.label :source, "＠出典" %>
<%= f.text_field :source, class: "form-control" %>

<%= f.label :store_url, "@店舗情報" %>
<%= f.text_field :store_url, class: "form-control" %>

<%= f.fields_for :dish do |dish_f| %>
  <%= dish_f.label :introduction, "@一覧用紹介文" %>
  <%= dish_f.text_area :introduction, class: "form-control" %>

  <%= dish_f.label :description, "@詳細用紹介文(必須)" %>
  <%= dish_f.text_area :description, class: "form-control" , rows: 9 %>
<% end %>


<h3>@タグ設定（複数登録する場合は単語の間に「 , 」を入れてください） </h3>

<%= label_tag :area_tag_name, "@タグ設定(地域)(必須)" %>
<%= text_field_tag 'post[post_area_tags_attributes][0][area_tag_attributes][name]', @area_tag_name, class: "form-control" %>

<%= label_tag :genre_tag_name, "@タグ設定（ジャンル）" %>
<%= text_field_tag 'post[post_genre_tags_attributes][0][genre_tag_attributes][name]', @genre_tag_name, class: "form-control" %>

<%= label_tag :taste_tag_name, "@タグ設定（味）" %>
<%= text_field_tag 'post[post_taste_tags_attributes][0][taste_tag_attributes][name]', @taste_tag_name, class: "form-control" %>

<%= label_tag :outher_tag_name, "@タグ設定（その他）" %>
<%= text_field_tag 'post[post_outher_tags_attributes][0][outher_tag_attributes][name]', @outher_tag_name, class: "form-control" %>



<%= f.submit nil, class: "btn btn-primary" %>
<% end %>