<% content_for(:title, t(".page_title")) %>
<% breadcrumb :post_index, @user %>


<div class="container">
<div class="row">

<%# -------------------本人用------------------- %>
<% if @user == current_user %>
  <% if @user_posts.present? %>
    <div class="d-flex">
    <h3><%= t(".post_index") %></h3>
      <div class="dropdown ms-auto">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><%= link_to t(".ascending-order"), user_posts_path(@user, latest: "true"), class: 'dropdown-item' %></li>
            <li><%= link_to t(".descending-order"), user_posts_path(@user, old: "true"), class: 'dropdown-item' %></li>
            <%# ---------------補足:  ascending-order 昇順。  descending-order 降順----------------------------- %>
          </ul>
      </div>
    </div>

    <% @user_posts.each do |post| %>
      <div class="row">
      <div class="py-4 my-1 bg-info">
      <%= link_to post.title, post_path(post, user_id: @user.id, post_path: @post_path) %>
      <%= link_to t(".post_edit"), edit_post_path(post) %>
      <%= link_to t(".post_delete"), post_path(post), data: { turbo_method: :delete, turbo_confirm: t(".delete_confirm") } %>
      </div>
      </div>
    <% end %>
    <%= paginate @user_posts, theme: "bootstrap-5" %>
  <% else %>
    <h3><%= t(".no_postings") %></h3>
    <%# ----------補足: no_postings  投稿がありません---------- %>
  <% end %>

  ----------------------検索テスト--------------------
  <%= link_to "検索テスト", index_test_posts_path %>

  <%= search_form_for @q, url: search_posts_path do |f| %>
    <div data-controller="autocomplete" data-autocomplete-url-value="<%= autocomplete_posts_path %>" role="combobox">

      <%= f.search_field :title_cont, data: { autocomplete_target: 'input' }, placeholder: '検索ワード' %>
      <%= f.hidden_field :title, data: { autocomplete_target: 'hidden' } %>
      <ul class="list-group bg-white absolute w-full md:text-sm max-w-max" data-autocomplete-target="results"></ul>
      <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none pl-4"></div>

    </div>
    <%= f.submit '検索', class: 'btn btn-primary' %>
  <% end %>


  <%# search_form_for @q, url: index_test_posts_path do |f| %>
  <%# f.search_field :title_or_dish_description_or_dish_introduction_or_area_tags_name_or_genre_tags_name_or_taste_tags_name_or_outher_tags_name_cont, class: 'form-control', placeholder: '検索ワード' %>
<%# -------------------来訪者用--------------------- %>

<% elsif @user.is_public %>
  <% if @user_posts.present? %>
    <div class="d-flex">
      <h1><%= t(".post_index") %></h1>
      <div class="dropdown ms-auto">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><%= link_to t(".ascending-order"), user_posts_path(@user, latest: "true"), class: 'dropdown-item' %></li>
            <li><%= link_to t(".descending-order"), user_posts_path(@user, old: "true"), class: 'dropdown-item' %></li>
          </ul>
      </div>
    </div>

    <% @user_posts.each do |post| %>
      <div class="row">
      <div class="py-4 my-1 bg-info">
      <%= link_to post.title, post_path(post, user_id: @user.id, post_path: @post_path) %>
      </div>
      </div>
    <% end %>
    <%= paginate @user_posts, theme: "bootstrap-5" %>
  <% else %>
    <h3><%= t(".no_postings") %></h3>
  <% end %>

<% else %>
  <h3><%= t(".closed_to_public") %></h3>
<% end %>


</div>
</div>
