<div class="container">
<div class="row">
<h1>全記事一覧（テスト用）</h1>
<% @posts.each do |post| %>
<div class="container">
<div class="row">
<%= post.title %>
<%= post.source %>
<%= post.store_url %>
<%= post.dish.introduction %>
<%= post.dish.description %>

<% post.post_genre_tags.each do |post_genre_tag| %>
  <p><%= post_genre_tag.genre_tag.name %></p>
<% end %>


</div>
</div>
<% end %>
</div>
</div>

<div class="container">
<div class="row">
<h1>あなたの記事一覧（テスト用）</h1>
<% @user_posts.each do |post| %>
<div class="row">
<%= post.title %>
<%= post.source %>
<%= post.store_url %>
<%= post.dish.introduction %>
<%= post.dish.description %>
</div>
<% end %>
</div>
</div>

<div class="container">
<div class="row">
<% if @user_posts.present? %>


<h1>あなたの記事一覧（実際の内容）</h1>
<% @user_posts.each do |post| %>
<div class="row">
<div class="mt-2">
<%= link_to post.title, post_path(post) %>
<%= link_to "編集する", edit_post_path(post) %>
<%= link_to "削除する", post_path(post), data: { turbo_method: :delete } %>
</div>
</div>
<% end %>


<% else %>
  <p>投稿がありません</p>
<% end %>
</div>
</div>