<% breadcrumb :post_show, @post, @area_tags, @genre_tags, @taste_tags, @outher_tags, @user, @post_path %>
<%# パンくずリスト呼ぶとき選択したタグ情報を保持する %>

<div class="container">
<div class="row">
<%= @post.title %>
</div>


<div class="row">
<% @post.area_tags.each do |area_tag| %>
<%= area_tag.name %>
<% end %>
<% @post.genre_tags.each do |genre_tag| %>
<%= genre_tag.name %>
<% end %>
<% @post.taste_tags.each do |taste_tag| %>
<%= taste_tag.name %>
<% end %>
<% @post.outher_tags.each do |outher_tag| %>
<%= outher_tag.name %>
<% end %>
</div>

<div class="row">
投稿者: <%= @post.user.name %>
</div>

<div class="row">
<% if @post.source.present? %>
<%= @post.user.name %>
出典: <%= @post.source %>
<% end %>
</div>

<div class="row">
<% if @post.store_url.present? %>
店舗情報: <%= @post.store_url %>
<% end %>
</div>

<div class="row">
<% if @post.images.attached? %>
  <% @post.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
<% end %>
</div>
<div class="row">
<%= @post.dish.description %>
</div>

</div>