<% breadcrumb :post_show, @post, @area_tags, @genre_tags, @taste_tags, @outher_tags, @user, @playlist, @post_path %>
<%# パンくずリスト呼ぶとき選択したタグ情報を保持する %>

<div class="container">
<div class="row">
<%= @post.title %>
</div>

<div class="row">
<% @post.area_tags.each do |area_tag| %>
<%= area_tag.name %>
<% end %>
<% @post.genre_tags.each do |genre_tag| %>
<%= genre_tag.name %>
<% end %>
<% @post.taste_tags.each do |taste_tag| %>
<%= taste_tag.name %>
<% end %>
<% @post.outher_tags.each do |outher_tag| %>
<%= outher_tag.name %>
<% end %>
</div>

<div class="row d-flex">
<span>投稿者: <%= link_to @posted_user.name, user_path(@posted_user) %></span>
</div>

<div class="row">
<% if @post.source.present? %>
<%= @posted_user.name %>
出典: <%= @post.source %>
<% end %>
</div>

<div class="row">
<% if @post.store_url.present? %>
店舗情報: <%= @post.store_url %>
<% end %>
</div>

<div class="row">
<% if @post.images.attached? %>
  <% @post.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
<% end %>
</div>
<div class="row">
<%= @post.dish.description %>
</div>

<% if logged_in? %>
<div class="col-2">
<button type="button" class="btn btn-primary mb-12 btn-sm" data-toggle="modal" data-target="#playlist">プレイリストへ追加</button>
</div>

<div class="modal fade" id="playlist" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4><div class="modal-title" id="myModalLabel">@プレイリストへ追加</h4>
      </div>

      <div class="modal-body">
      <%= form_with(url: add_to_playlist_post_path(@post), method: :post) do %>
        <%= label_tag :playlist_id, "@作成済みのプレイリストを選択" %>
        <%= select_tag :playlist_id, options_from_collection_for_select(@user_playlists, :id, :title), include_blank: true %>
        <%= submit_tag "選択" %>
      <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">@閉じる</button>
      </div>

    </div>
  </div>
</div>
<% end %>


<% if logged_in? && @post.user_id != current_user.id %>
  <% if current_user.like?(@post) %>

    <%# link_to post_like_path(current_user.likes.find_by(post_id: @post.id)), id: "bad-#{@post.id}", data: { turbo_method: :delete } do %>

    <%= link_to post_like_path(@post), id: "bad-#{@post.id}", data: { turbo_method: :delete } do %>
      <i class="bi bi-hand-thumbs-up-fill"></i>
    <% end %>

  <% else %>

    <%= link_to post_likes_path(post_id: @post.id), id: "good-#{@post.id}", data: { turbo_method: :post } do %>
      <i class="bi bi-hand-thumbs-up"></i>
    <% end %>


  <% end %>
<% end %>
</div>

<%= form_with model: @comment, url: post_comments_path(@post) do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body, class: "form-control mb-3" %>
  <%= f.submit nil, class: "btn btn-primary" %>
<% end %>