<% breadcrumb :search_index %>

<div class="container">
<div class="row">


<% if @paginate_search_posts.present? %>
  <h3>@検索結果</h3>
  <% @paginate_search_posts.each do |post| %>
    <%= render "post_image", post: post %>
  <% end %>



  <% if @page > 1 %>
    <%= link_to '前へ', searchs_path(page: @page - 1, area_tags: @area_tags, genre_tags: @genre_tags, taste_tags: @taste_tags, outher_tags: @outher_tags) %>
  <% end %>

  <% if @page < @total_pages %>
    <%= link_to '次へ', searchs_path(page: @page + 1, area_tags: @area_tags, genre_tags: @genre_tags, taste_tags: @taste_tags, outher_tags: @outher_tags) %>
  <% end %>


  <% if @recommendations.present? %>
    <div class='row'>
      <div class='row'>
        <h6>@みんなが閲覧している記事</h6>
      </div>

      <% @recommendations.each do |post| %>
        <%= render "post_image", post: post %>
      <% end %>
    </div>

  <% end %>

  <%#= paginate @, theme: "bootstrap-5" %>
<% else %>
  <h3>@タグが選択されてません</h3>

  <div class='row'>
    <div class='row'>
      <h6>@みんなが閲覧している記事</h6>
    </div>

    <% @recommendations.each do |post| %>
      <%= render "post_image", post: post %>
    <% end %>
    </div>
<% end %>


</div>
</div>