<% content_for(:title, t(".page_title")) %>
<% breadcrumb :search_index %>


<div class="container">
  <div class="row">

    <% if @search_posts.present? %>
      <div class="d-flex">
        <h3><%= t(".search_results") %></h3>

        <h1 class="ms-auto">
          <div class="dropdown">
           <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><%= link_to t(".ascending-order"), searchs_path(latest: "true", area_tags: @area_tags, genre_tags: @genre_tags, taste_tags: @taste_tags, outher_tags: @outher_tags), class: 'dropdown-item' %></li>
                <li><%= link_to t(".descending-order"), searchs_path(old: "true", area_tags: @area_tags, genre_tags: @genre_tags, taste_tags: @taste_tags, outher_tags: @outher_tags), class: 'dropdown-item' %></li>
                <%# ---------------補足:  ascending-order 昇順。  descending-order 降順----------------------------- %>
              </ul>
          </div>
        </h1>
      </div>

      <% @search_posts.each do |post| %>

        <%# ーーーーー画面XXLでcol-2で表示ーーーーーーーー %>
        <div class="col-2 mb-1 d-none d-xxl-block">
          <%= render "post_image_for_index", post: post %>
        </div>

        <%# ーーーーー画面LG以上、XXL以下でcol-3で表示ーーーーーーーー %>
        <div class="col-3 mb-1 d-none d-lg-block d-xxl-none">
          <%= render "post_image_for_index", post: post %>
        </div>

        <%# ーーーーー画面MD以上、LG以下でcol-4で表示ーーーーーーーー %>
        <div class="col-4 mb-1 d-none d-md-block d-lg-none">
          <%= render "post_image_for_index", post: post %>
        </div>

        <%# ーーーーー画面MD以下でcol-6で表示ーーーーーーーー %>
        <div class="col-6 mb-1 d-md-none">
          <%= render "post_image_for_index", post: post %>
        </div>

      <% end %>

      <%= paginate @search_posts, theme: "bootstrap-5" %>

      <%# ーーーーーーーーーーーーーーーーーーーー検索数が一定以下のときおすすめを表示するーーーーーーーーーーーーーーーーーーーーーーーーー %>

      <% if @recommendations.present? %>
        <div class='row'>
          <div>
            <hr class="my-4">
            <%# -----HTMLの水平線を描画するタグ----- %>
            <h6><%= t(".everyone_view_histories") %></h6>
          </div>

          <% @recommendations.each do |post| %>

            <%# ーーーーー画面XXLでcol-2で表示ーーーーーーーー %>
            <div class="col-2 mb-1 d-none d-xxl-block">
              <%= render "post_image_for_index", post: post %>
            </div>

            <%# ーーーーー画面LG以上、XXL以下でcol-3で表示ーーーーーーーー %>
            <div class="col-3 mb-1 d-none d-lg-block d-xxl-none">
              <%= render "post_image_for_index", post: post %>
            </div>

            <%# ーーーーー画面MD以上、LG以下でcol-4で表示ーーーーーーーー %>
            <div class="col-4 mb-1 d-none d-md-block d-lg-none">
              <%= render "post_image_for_index", post: post %>
            </div>

            <%# ーーーーー画面MD以下でcol-6で表示ーーーーーーーー %>
            <div class="col-6 mb-1 d-md-none">
              <%= render "post_image_for_index", post: post %>
            </div>

          <% end %>
        </div>
      <% end %>

    <% else %>
      <h3><%= t(".no_tag_selected") %></h3>

      <div class='row'>
        <div>
          <h6><%= t(".everyone_view_histories") %></h6>
        </div>

        <% @recommendations.each do |post| %>

          <%# ーーーーー画面XXLでcol-2で表示ーーーーーーーー %>
          <div class="col-2 mb-1 d-none d-xxl-block">
            <%= render "post_image_for_index", post: post %>
          </div>

          <%# ーーーーー画面LG以上、XXL以下でcol-3で表示ーーーーーーーー %>
          <div class="col-3 mb-1 d-none d-lg-block d-xxl-none">
            <%= render "post_image_for_index", post: post %>
          </div>

          <%# ーーーーー画面MD以上、LG以下でcol-4で表示ーーーーーーーー %>
          <div class="col-4 mb-1 d-none d-md-block d-lg-none">
            <%= render "post_image_for_index", post: post %>
          </div>

          <%# ーーーーー画面MD以下でcol-6で表示ーーーーーーーー %>
          <div class="col-6 mb-1 d-md-none">
            <%= render "post_image_for_index", post: post %>
          </div>

        <% end %>
      </div>
    <% end %>
  <%# ーーーーーーーーーーーーーーーーーーーー検索数が一定以下のときおすすめを表示するーーーーーーーーーーーーーーーーーーーーーーーーー %>
  </div>
</div>