<% content_for(:title, t(".page_title")) %>
<% breadcrumb :search_by_form, @word %>


<div class="container">
  <div class="row">
    <% if @posts.present? %>
      <h3><%= t(".search_results") %></h3>

      <% @posts.each do |post| %>
        <%# ーーーーー画面XXLでcol-2で表示ーーーーーーーー %>
        <div class="col-2 mb-1 d-none d-xxl-block">
          <%= render "post_image_for_search_form", post: post %>
        </div>

        <%# ーーーーー画面LG以上、XXL以下でcol-3で表示ーーーーーーーー %>
        <div class="col-3 mb-1 d-none d-lg-block d-xxl-none">
          <%= render "post_image_for_search_form", post: post %>
        </div>

        <%# ーーーーー画面MD以上、LG以下でcol-4で表示ーーーーーーーー %>
        <div class="col-4 mb-1 d-none d-md-block d-lg-none">
          <%= render "post_image_for_search_form", post: post %>
        </div>

        <%# ーーーーー画面MD以下でcol-6で表示ーーーーーーーー %>
        <div class="col-6 mb-1 d-md-none">
          <%= render "post_image_for_search_form", post: post %>
        </div>
      <% end %>

      <%= paginate @posts, theme: "bootstrap-5" %>

    <% else %>
      <h3><%= t(".target_not_found") %></h3>
    <% end %>
  </div>
</div>