<div class="container">
  <div class="row bg-danger-subtle">
    <h2>管理ページ / ユーザー一覧</h2>
    <div class="table-responsive">
      <table class="table table-sm table-striped  table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>状態</th>
            <th>操作</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <% if user.account_status == 0 %>
                <td>通常状態</td>
              <% else %>
                <td class="bg-info">停止状態</td>
              <% end %>
              <td>
                <%= link_to "編集", edit_admin_user_path(user) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @users, theme: "bootstrap-5" %>

    <%= link_to t("helpers.link.post_index"), admin_posts_path %>
    <%= link_to "管理ページトップへ", admin_homes_path %>
  </div>
</div>
