<div class="container">
  <div class="row bg-danger-subtle">
    <h2><%= t(".page_title") %></h2>
    <div class="table-responsive">
      <table class="table table-sm table-striped  table-bordered">
        <thead>
          <tr>
            <th><%= t("helpers.word.id") %></th>
            <th><%= t("helpers.word.name") %></th>
            <th><%= t("helpers.word.e-mail") %></th>
            <th><%= t("helpers.word.account_status") %></th>
            <th><%= t("helpers.word.poster") %></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <% if user.account_status == 0 %>
                <td><%= t("helpers.word.account_status_normal") %></td>
              <% else %>
                <td class="bg-info"><%= t("helpers.word.account_status_stop") %></td>
              <% end %>
              <td>
                <%= link_to t("helpers.submit.edit"), edit_admin_user_path(user) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @users, theme: "bootstrap-5" %>

    <%= link_to t("helpers.link.post_index"), admin_posts_path %>
    <%= link_to t("helpers.link.admin_top"), admin_homes_path %>
  </div>
</div>