<div class="container">
  <div class="row bg-danger-subtle">
    <h2>管理ページ / <%= @user.name %>さんの記事一覧</h2>

    <div class="mt-3">
      <%= link_to "ユーザー編集", edit_admin_user_path(@user) %>
    </div>
    <div class="table-responsive">
      <table class="table table-sm table-striped  table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>メイン画像</th>
            <th>サブ画像1</th>
            <th>サブ画像2</th>
            <th>投稿者名</th>
          </tr>
        </thead>

        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= post.id %></td>
              <td><%= image_tag post.decorated.resized_main_image_small %></td>

              <td>
                <% if post.sub_image_first.attached? %>
                  <%= image_tag post.decorated.resized_sub_image_first_small %>
                <% end %>
              </td>

              <td>
                <% if post.sub_image_second.attached? %>
                  <%= image_tag post.decorated.resized_sub_image_second_small %>
                <% end %>
              </td>

              <td><%= post.user.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= paginate @posts, theme: "bootstrap-5" %>

    <div class="mt-2">
      <%= link_to t("helpers.link.post_index"), admin_posts_path %>
    </div>

    <%= link_to t("helpers.link.admin_top"), admin_homes_path %>
  </div>
</div>
