<% content_for(:title, t(".page_title")) %>
<% breadcrumb :login %>

<div class="container">
  <div class="row">
    <h1><%= t(".login") %></h1>

    <%= form_with url: login_path do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <div class="mt-3">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
  
      <div class="mt-3">
        <%= f.submit t('.login'), class: "btn btn-primary" %>
      </div>
    <% end %>

    <%# ---------↓googleログイン部分--------- %>

    <hr class="my-4">
    <%# -----HTMLの水平線を描画するタグ----- %>

    <div class="d-flex justify-content-center">
      <div>

        <div class="mb-3">
          <h5><%= t(".or_login_with_your_google_account") %></h5>
        </div>

        <div>
          <%= link_to auth_at_provider_path(provider: :google) do %>
            <%= image_tag "sign_in@2x.png" %>
          <% end %>
        </div>

      </div>
    </div>

    <hr class="my-4">

    <%# ---------googleログイン部分--------- %>

    <div class='text-center'>
      <%= link_to t(".to_register_page"), new_user_path %>
      <%= link_to t(".forgot_password?"), new_password_reset_path %>
    </div>
  </div>
</div>