<%= form_with url: login_path do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>
  
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>
  
  <%= f.submit "ログイン", class: "btn btn-primary" %>
<% end %>

<div class='text-center'>
    <%= link_to '登録ページへ', "#" %>
    <%= link_to 'パスワードをお忘れの方はこちら', '#' %>
    <%= link_to 'トップ', root_path %>
</div>